<!DOCTYPE html>
<html>
    <head>
        <title>Boldport - TheMatrix</title>
        <style type="text/css">
            body {
                background-color: #444;
                color: white;
                font-family: Helvetica, Arial, sans-serif;
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }
            .led_table td, .led_table th { width: 2em; height: 2em }
            .clickable { cursor: pointer; }
            td.led { background-color: black; }
            .led.on { background-color: red; }
            table.chip { border-spacing: 0; border-collapse: separate; }
            .chip { text-align: center; }
            .chip td { width: 2em; height: 2em; }
            .chip .label { width: 3em; background-color: black; border: 2px solid #444; }
            .chip .pin { background-color: #eee; color: black; }
            .chip .body { width: 9em; background-color: black; }
            .clickable.lo:hover { background-color: #600; }
            .clickable.hi:hover { background-color: #060; }
        </style>
        <script type="text/javascript">
            var chip = [
                {%- for pin in chip %}
                {
                    label:'{{ pin.label }}',
                    anode_leds:[{% for pair in pin.anode_leds %}[{{pair[0]}},{{pair[1]}}],{% endfor %}],
                    cathode_leds:[{% for pair in pin.cathode_leds %}[{{pair[0]}},{{pair[1]}}],{% endfor %}],
                },
                {% endfor %}
            ];
            function matrixRequest(url, callback, context) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url);
                if (callback) {
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            callback(context);
                        }
                    };
                }
                xhr.send(null);
            }
            function matrixPostRequest(url, data, callback, context) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                if (callback) {
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            callback(context);
                        }
                    }
                }
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                dataKeys = Object.keys(data);
                var formFields = [];
                for (var i=0; i<dataKeys.length; i++) {
                    value = data[dataKeys[i]];
                    if (typeof(value) == 'string') { value = [value]; }
                    formFields.push(dataKeys[i] + '=' + value.join(','));
                }
                xhr.send(formFields.join('&'));
            }
            function hasClass(element, className) {
                return ((' ' + element.className + ' ').replace(/[\r\n\t]/g, ' ').indexOf(' ' + className + ' ') > -1);
            }
            function addClass(element, className) {
                if (!hasClass(element, className)) {
                    element.className = (element.className + ' ' + className).trim();
                }
            }
            function removeClass(element, className) {
                element.className = (' ' + element.className + ' ').replace(/[\r\n\t]/g, ' ').replace(' ' + className + ' ', '').trim();
            }
            function reset() {
                matrixRequest('/reset', function() {
                    var leds = document.getElementsByClassName('led');
                    for (var i=0; i<leds.length; i++) {
                        removeClass(leds[i], 'on');
                    }
                    document.getElementById('current').value = 1;
                });
            }
            function allOn() {
                matrixRequest('/allOn', function() {
                    var leds = document.getElementsByClassName('led');
                    for (var i=0; i<leds.length; i++) {
                        addClass(leds[i], 'on');
                    }
                });
            }
            function allOff() {
                matrixRequest('/allOff', function() {
                    var leds = document.getElementsByClassName('led');
                    for (var i=0; i<leds.length; i++) {
                        removeClass(leds[i], 'on');
                    }
                });
            }
            function toggleLED(sender, x, y) {
                if (hasClass(sender, 'on')) {
                    matrixPostRequest('/clearPixel', {coords:x+','+y}, function() {
                        removeClass(sender, 'on');
                    });
                } else {
                    matrixPostRequest('/setPixel', {coords:x+','+y}, function() {
                        addClass(sender, 'on');
                    });
                }
            }
            function toggleColumn(x) {
                var setElements = [];
                var clearElements = [];
                var setCoords = [];
                var clearCoords = [];
                for (var y=0; y<{{ height }}; y++) {
                    element = document.getElementById('led_' + x + '_' + y);
                    coords = x + ',' + y;
                    if (hasClass(element, 'on')) {
                        clearElements.push(element);
                        clearCoords.push(coords);
                    } else {
                        setElements.push(element);
                        setCoords.push(coords);
                    }
                }
                if (clearElements.length) {
                    matrixPostRequest('/clearPixel', {coords:clearCoords}, function() {
                        for (var i=0; i<clearElements.length; i++) {
                            removeClass(clearElements[i], 'on');
                        }
                    });
                }
                if (setElements.length) {
                    matrixPostRequest('/setPixel', {coords:setCoords}, function() {
                        for (var i=0; i<setElements.length; i++) {
                            addClass(setElements[i], 'on');
                        }
                    });
                }
            }
            function toggleRow(y) {
                var setElements = [];
                var clearElements = [];
                var setCoords = [];
                var clearCoords = [];
                for (var x=0; x<{{ width }}; x++) {
                    element = document.getElementById('led_' + x + '_' + y);
                    coords = x + ',' + y;
                    if (hasClass(element, 'on')) {
                        clearElements.push(element);
                        clearCoords.push(coords);
                    } else {
                        setElements.push(element);
                        setCoords.push(coords);
                    }
                }
                if (clearElements.length) {
                    matrixPostRequest('/clearPixel', {coords:clearCoords}, function() {
                        for (var i=0; i<clearElements.length; i++) {
                            removeClass(clearElements[i], 'on');
                        }
                    });
                }
                if (setElements.length) {
                    matrixPostRequest('/setPixel', {coords:setCoords}, function() {
                        for (var i=0; i<setElements.length; i++) {
                            addClass(setElements[i], 'on');
                        }
                    });
                }
            }
            function toggleReversed(sender) {
                matrixRequest('/setReversed/' + (sender.checked ? 1 : 0), function() {
                    location.reload(true); // too lazy to write ajax refresh right now!
                });
            }
            function setCurrent(sender) {
                var newCurrent = parseInt(sender.value) || 1
                var current = Math.min(Math.max(newCurrent, 0), 30);
                sender.value = current;
                matrixRequest('/setCurrent/' + current);
            }
            function hiSignal(pin) {
                var setElements = [];
                var clearElements = [];
                var setCoords = [];
                var clearCoords = [];
                for (var i=0; i<pin.anode_leds.length; i++) {
                    pair = pin.anode_leds[i];
                    var x = pair[0];
                    var y = pair[1];
                    element = document.getElementById('led_' + x + '_' + y);
                    coords = x + ',' + y;
                    if (hasClass(element, 'on')) {
                        clearElements.push(element);
                        clearCoords.push(coords);
                    } else {
                        setElements.push(element);
                        setCoords.push(coords);
                    }
                }
                if (clearElements.length) {
                    matrixPostRequest('/clearPixel', {coords:clearCoords}, function() {
                        for (var i=0; i<clearElements.length; i++) {
                            removeClass(clearElements[i], 'on');
                        }
                    });
                }
                if (setElements.length) {
                    matrixPostRequest('/setPixel', {coords:setCoords}, function() {
                        for (var i=0; i<setElements.length; i++) {
                            addClass(setElements[i], 'on');
                        }
                    });
                }
            }
            function loSignal(pin) {
                var setElements = [];
                var clearElements = [];
                var setCoords = [];
                var clearCoords = [];
                for (var i=0; i<pin.cathode_leds.length; i++) {
                    pair = pin.cathode_leds[i];
                    var x = pair[0];
                    var y = pair[1];
                    element = document.getElementById('led_' + x + '_' + y);
                    coords = x + ',' + y;
                    if (hasClass(element, 'on')) {
                        clearElements.push(element);
                        clearCoords.push(coords);
                    } else {
                        setElements.push(element);
                        setCoords.push(coords);
                    }
                }
                if (clearElements.length) {
                    matrixPostRequest('/clearPixel', {coords:clearCoords}, function() {
                        for (var i=0; i<clearElements.length; i++) {
                            removeClass(clearElements[i], 'on');
                        }
                    });
                }
                if (setElements.length) {
                    matrixPostRequest('/setPixel', {coords:setCoords}, function() {
                        for (var i=0; i<setElements.length; i++) {
                            addClass(setElements[i], 'on');
                        }
                    });
                }
            }
        </script>
    </head>
    <body>
        <h1>Boldport - TheMatrix</h1>
        <table class="led_table">
            <thead>
                <tr>
                    <th></th>
                    {% for x in range(width) %}
                    <th class="clickable" onclick="toggleColumn({{x}});">{{ x }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for y in range(height) %}
                    <tr>
                        <th class="clickable" onclick="toggleRow({{y}});">{{ y }}</th>
                        {% for x in range(width) %}
                            {% set led_id = "led_%d_%d" % (x, y) %}
                            <td class="clickable led{{' on' if pixels[y][x]}}" id="{{ led_id }}" onclick="toggleLED(this, {{ x }}, {{ y }});" >&nbsp;</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan=2" align="center"><button id="reset" onclick="reset();">Reset</button></td>
                    <td colspan="2" align="center"><button id="allOff" onclick="allOff();">All Off</button></td>
                    <td colspan="2" align="center"><button id="allOn" onclick="allOn();">All On</button></td>
                    <td colspan="4" align="center">Current:&nbsp;<input type="text" length="2" size="2" id="current" value="{{ current }}" onchange="setCurrent(this);">&nbsp;mA</td>
                    <td colspan="4" align="Center"><label for="reversed">Reversed:&nbsp;</label><input type="checkbox" name="reversed" {{ 'checked="checked"' if reversed }} onclick="toggleReversed(this);"></td>
                </tr>
            </tfoot>
        </table>
        <table class="chip">
            <tbody>
                {% for i in range(14) %}
                <tr>
                    {% if chip[i].clickable %}
                    <td class="clickable hi" onclick="hiSignal(chip[{{i}}]);">hi</td>
                    <td class="clickable lo" onclick="loSignal(chip[{{i}}]);">lo</td>
                    {% else %}
                    <td colspan="2"></td>
                    {% endif %}
                    <td class="label">{{ chip[i].label or ' ' }}</td>
                    <td class="pin">{{ i+1 }}</td>
                    <td class="body" colspan="3">{{ 'AS1130' if not i }}</td>
                    <td class="pin">{{ 28-i }}</td>
                    <td class="label">{{ chip[27-i].label or ' ' }}</td>
                    {% if chip[27-i].clickable %}
                    <td class="clickable lo" onclick="loSignal(chip[{{27-i}}]);">lo</td>
                    <td class="clickable hi" onclick="hiSignal(chip[{{27-i}}]);">hi</td>
                    {% else %}
                    <td colspan="2"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
